body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  display: flex;
  direction: column;
  align-items: center;
  padding: 25px;
  display: block;
}

/* BookSearch */

#searchInput {
  width: 45%;
  padding: .75rem 1rem;
  margin: .15rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

/* BookListItem */

.book-item-container {
  display: flex;
  width: 25%;
  background-color: bisque;
  border-radius: 3px;
  padding: 1rem 1rem;
  margin: 1rem; 
}

.book-image {
  object-fit: contain;
  align-self: flex-start;
  padding-right: .75rem;
  margin-right: .25rem; 
}

.book-description {
  flex: 1 1 auto;
}

.book-detail {
  font-weight: bold;
}